p {
  font-family: Helvetica;
}
h1 {
  font-family: Helvetica;
}
h2 {
  font-family: Helvetica;
}
.img {
  overflow: hidden;
}
nav {
  width: 100%;
  background-color: #f1f3ff;
  z-index: 100;
}
#whyus,
#ourservice,
#testimonials,
#isikonten1 {
  padding-top: 5%;
}
.navbar-nav a {
  color: black !important;
}
.rectangle {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}
.konten1 {
  position: relative;
  padding-top: 10%;
  padding-bottom: 8%;
  background-color: #f1f3ff;
}
.konten-1 {
  padding-top: 2rem;
}

.mobil {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 50%;
}
.konten6 .row {
  padding-top: 3rem;
}
footer .row {
  padding-top: 3rem;
}
.btn {
  background-color: #5cb85f !important;
  border: 0px !important;
  font-family: Helvetica !important;
}
.navbar-nav .btn {
  width: 100px;
}
.caption {
  font-size: 13px;
}
#service {
  padding-left: 25%;
}

li span {
  padding-right: 10px;
}
li {
  list-style-type: none;
  font-size: 16px;
}

li span {
  padding-right: 10px;
}
.konten3 .card-title {
  padding-top: 10px;
}
.img-icons {
  width: 37px;
  height: 37px;
  padding-left: 13px;
  padding-top: 11px;
}
.konten3 .card {
  width: 100%;
}
.konten4 .card {
  background-color: #f1f3ff;
}
.star {
  display: inline;
  float: left;
}
.konten4 .card {
  background-color: #f1f3ff;
}
.konten4 .card .img {
  padding-top: 35px;
}

.konten4 .card-body p {
  text-align: justify;
}
.overflow {
  overflow: hidden;
}
.carousel {
  width: 130%;
  left: -15%;
}
/* #carouselExampleControlsNoTouching {
  margin-top: -6%;
} */
.carousel-control {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-control__prev,
.carousel-control__next {
  background-color: transparent;
  color: #000000;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border: 1px solid #c4c4c4;
  border-radius: 25px;
  opacity: 1;
}

.carousel-control__prev:hover,
.carousel-control__next:hover {
  color: #ffffff;
  border: none;
  background-color: #5cb85f;
}
.kotak {
  background-color: #0d28a6;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
  margin-top: 50px;
}
.isi-konten {
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
}
.konten5 p {
  font-size: 13px;
  text-align: center;
  display: flex;
  align-self: center;
}
footer .col-sm-4 p {
  font-size: 1em;
}
#servis {
  font-size: 1em;
  font-weight: bold;
}
footer .col-sm-3 {
  font-size: 1em;
}
/* Responsive Design for Smartphone */
@media only screen and (max-width: 767px) {
  /* Header */
  #offcanvasRight {
    width: 50%;
  }
  /* First Content */
  .konten1 {
    height: auto;
    padding-bottom: 50%;
  }

  #btn-konten1 {
    margin-bottom: 10%;
  }

  .mobil {
    width: 95%;
  }
  /* Second Content */
  .konten2 li {
    font-size: 1em;
  }
  .konten2 {
    font-size: 1em;
  }
  /* Third Content */
  .konten3 .card {
    width: 100%;
    margin-bottom: 5%;
    /* margin-top: -4%; */
    padding-top: 3%;
    padding-bottom: 2%;
  }
  /* Fifth Content */
  .konten5 .isi-konten {
    width: 60%;
    /* padding-top: 10% !important;
    padding-bottom: 10% !important; */
  }
  .konten4 .card {
    height: 100%;
    width: 75%;
  }
  .dihide {
    display: none;
  }
  .star {
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  #bintang {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  #faq .col-md-5 {
    text-align: center;
  }
  #whyus,
  #ourservice,
  #testimonials,
  #isikonten1 {
    padding-top: 20%;
  }
  /* Footer */
  footer .col-sm-4 img {
    padding-bottom: 2%;
  }
}
/* Responsive Design for Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .konten3 .card {
    width: 100%;
    margin-bottom: 5%;
    /* margin-top: -5%; */
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #whyus,
  #ourservice,
  #testimonials,
  #isikonten1 {
    padding-top: 9%;
  }
  .konten1 {
    height: auto;
    padding-bottom: 50%;
  }

  #btn-konten1 {
    margin-bottom: 10%;
  }

  .mobil {
    width: 95%;
  }
  .active {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-content: center; */
  }
  #bintang {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  #bintang-not-active {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  /* .dihide {
    display: none;
  } */
}
